body {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.contents {
	min-height: 1050px;
	
	/* TODO: 이 곳을 채우세요! */
}


.main {
	background-color: skyblue;
	margin-left: 200px;
	margin-right: 300px;

	min-height: 1050px;
	height: 100%;
	/* TODO: 이 곳을 채우세요! */
}

.main header {
	background-color: lightgray;
	height: 30px;
	/* TODO: 이 곳을 채우세요! */
}

.inside{
	max-height: 1020px;
}

.left {
	background-color: pink;
	width: 200px;
	height: 100%;
	min-height: 1050px;
	position: absolute;

	/* TODO: 이 곳을 채우세요! */
}

.right {
	background-color: greenyellow;
	width: 300px;
	
	position: absolute;
	top: 0;
	right: 0;

	min-height: 1050px;
	height: 100%;
	/* TODO: 이 곳을 채우세요! */
}

footer {
	background-color: yellow;
	height: 50px;
	width: 100%;
	position: absolute;
	
	/* TODO: 이 곳을 채우세요! */
}
